extends layout.pug


block content
  
  .weird-hover
    .weird-hover__title Some shitty phrase
    img(src="./img/1.png", alt="").delete-me
    .weird-hover__img
      .js-loadme(data-src="./img/1.png" style="width: 412px; height: 472px")